anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
backports.functools-lru-cache==1.6.1
Flask==1.1.2
graphviz==0.16
Jinja2==2.11.2
json5==0.9.5
jupyter==1.0.0
lightgbm==3.2.1
numpy==1.17.4
optuna==2.10.0
pandas==1.0.5
psutil==5.7.0
scikit-learn==0.23.1
seaborn==0.10.1
Werkzeug==1.0.1
