<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Malware Detection System</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Characteristics" placeholder="Characteristics" required="required" />
        <input type="text" name="BaseOfData" placeholder="BaseOfData" required="required" />
		<input type="text" name="CheckSum" placeholder="CheckSum" required="required" />
	<input type="text" name="DllCharacteristics" placeholder="DllCharacteristics" required="required" />
        <input type="text" name="MajorImageVersion" placeholder="MajorImageVersion" required="required" />
		<input type="text" name="SizeOfInitializedData" placeholder="SizeOfInitializedData" required="required" />

	<input type="text" name="AddressOfEntryPoint" placeholder="AddressOfEntryPoint" required="required" />
        <input type="text" name="ImageBase" placeholder="ImageBase" required="required" />
		<input type="text" name="SectionsMinVirtualsize" placeholder="SectionsMinVirtualsize" required="required" />

	<input type="text" name="ResourcesMaxSize" placeholder="ResourcesMaxSize" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
